<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>I aspire to become an aerospace engineer; designing the aircrafts of the future. 
            I want to become part of the innovation to improve air travel. 
            A degree from the College of Engineering at Swansea University will help me achieve these aspirations,
             whilst building a solid foundation of knowledge and experience that I will require in the future.
                With a very good sense of independence and versatility; 
                I am a student with a motivation to improve, hence being a self-reflective learner. 
                Confident, and able to analyse situations and respond to them in effective ways.</p>
    </div>
    <div class="skill-lock"></div>
</section>