<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="../assets/img/graduate38.svg" alt="Picture" />
                </div>
                <!-- cd-timeline-img-->
                <div class="cd-timeline-content">
                    <h2 class="story-heading">Swansea University</h2>
                    <P>I am currently on my second year as an Aerospace Engineering Undergraduate (BEng), 
                        learning about Aerodynamics, Thermodynamics, Flight Mechanics and 
                        Structural Mechanics, Airframe Structures, Dynamics and Mechanical Properties of Materials.
                                Foundation Year average grade: 74.8% & 
                            Year 1 average grade: 72.8%</P>
                    <span class="cd-date">2016 - Present</span>
                </div>
                <!-- cd-timeline-content-->
                <!-- cd-timeline-block-->
            </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="/assets/img/restaurant-15.svg" alt="Picture" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Waitress</h2>
                <P>Being responsible for the greeting and taking orders from customers, 
                    I have the ability to remain calm under pressure especially during busy times. 
                    I was also tasked with dealing with bill payments, which require basic numeracy skills. 
                    Team work was vital, as it allowed us to work efficiently whilst providing excellent customer service.</P>
                <span class="cd-date">2014 - 2015 & 2016 - 2016</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="/assets/img/restaurant-15.svg" alt="Picture" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Kitchen Assistant</h2>
                <p>At Ashbury Lodge, I was often faced with vulnerable service users, most of which suffer from dementia, 
                    which has greatly improved my communication skills. I was required to express myself as patiently and as clearly as possible. 
                    I am used to working in a timed environment; carrying out my tasks quickly and competently.</p>
                <span class="cd-date">2015 - 2016</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="/assets/img/school1.svg" alt="Picture" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>New College</h2>
                <p>I undertook A levels in Physics [D], Maths [C] and Psychology [C].</p>
                <span class="cd-date">2014 - 2016</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="/assets/img/school1.svg" alt="Location" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Churchfields Academy</h2>
                <p>GCSE qualifications in Maths [A], 
                    English [A*], Physics [A], Spanish [A*], History [B], ICT [Distinction], 
                    Religious Studies [A], Leisure and Tourism [B], Biology [A], Chemistry [A].</p>
                <span class="cd-date">2009 - 2014</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>
